html {
  background-color: #2f4550;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #f1f1f7;
  border: 3px black;
  margin: 30px auto;
  width: 600px;
  padding: 27px 50px;
}

h1 {
  color: #000000;
}

h2 {
  color: #2f4550;
}
/* Lol */

li,
p {
  color: #586f7c;
}

h1,
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: #c0c8cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #2f4550;
}

img {
  border-radius: 25px;
}
